
<div class="container p16">
    <button mat-button (click)="addProject()" class="mb20">Add Projects + </button>
    <div *ngFor="let project of this.projects;let i = index" class="mb20">
        <app-project
            [(name)]="project.name"
            [(hours)]="project.hours"
            [(minutes)]="project.minutes"
            [(seconds)]="project.seconds"
            [selfStartTimer]="this.selfStartTimer"
            (delete)="this.deleteProject(i)"
            (save)="this.saveProject(i)"
        >
        </app-project>
    </div>
    <div></div>
    <button mat-button class="mt20">Saved Projects</button>
    <div *ngFor="let project of this.savedProjects;let i = index" class="mb20">
        <app-project-display
            [name]="project.name"
            [hours]="project.hours"
            [minutes]="project.minutes"
            [seconds]="project.seconds"
            (play)="this.playProject(i)"
        >
        </app-project-display>
    </div>
</div>